<header class="site-header">
  <div class="container header-inner">
    <a class="brand" href="{{ site.baseurl }}/">
      <img class="brand-img" src="{{ site.baseurl }}/assets/img/header-pigipegs.png" alt="Pigipegs" />
    </a>

    <nav class="nav">
      <a href="{{ site.baseurl }}/">Start</a>
      <a href="{{ site.baseurl }}/book01/">Buch 1</a>
      <a href="{{ site.baseurl }}/datenschutz/">Datenschutz</a>
      <a href="{{ site.baseurl }}/impressum/">Impressum</a>
    </nav>
  </div>
</header>
